<footer class="footer">
	<div class="wrapper pd-v-gr2">
	    <a href="/" class="logo-number logo-number--footer fw-med fl-l"></a>
	    <p class="fz-16 fl-l pd-l-gr1 copy">
			© 2013 — 2015
			<br>
			Game162 is not affiliated with Major League Baseball.
	    </p>
	    <ul class="fl-r">
	    	<li class="fl-l">
	    		<span class="follow-text fz-15 tt-u fl-r ls-strd">Follow Game162</span>
	    	</li>
	    	<li class="fl-l">
	    		<a href="#" class="sprite sprite__rss fl-l"></a>
	    	</li>
	    	<li class="fl-l">
	    		<a href="#" class="sprite sprite__github fl-l"></a>
	    	</li>
	    </ul>
	</div>
</footer>