<header class="header clearfix">
    <div class="wrapper">
        <div class="logo pd-v-gr2">
            <a href="/">
                <div class="logo-number fw-med"></div>
                <h1 class="fz-30 tt-u ls-sm pd-t-gr1 d-ib">Game162</h1>
                <p class="fz-16 tt-u ls-strd c-939393 d-ib">Baseball Facts</p>
            </a>
        </div>
        <nav class="site-nav">
            <ul class="fz-17 tt-u c-939393">
                <li>
                    <a href="/about" class="pd-h-gr2 animated fadeInUp">About + Contact</a>
                </li>
                <li>
                    <a href="/archive" class="pd-h-gr2 animated fadeInUp">Archive</a>
                </li>
            </ul>
        </nav>
    </div>
</header>