<header class="header">
    <div class="wrapper pd-v-gr3">
        <div class="logo">
            <a href="/">
                <div class="sprite sprite__logo fl-l"></div>
                <h1 class="fz-30 tt-u ls-sm">Game162</h1>
                <p class="fz-16 tt-u ls-strd">Baseball Facts</p>
            </a>
        </div>
        <nav>
            <ul class="fz-17 tt-u">
                <li>About</li>
                <li>Archive</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
</header>