<header class="header clearfix">
    <div class="wrapper">
        <div class="header-logo-wrapper pd-v-gr2">
            <a href="/">
                <div class="logo-number fl-l"></div>
                <h1 class="fz-30 tt-u ls-sm pd-t-gr1 d-ib">Game162</h1>
                <p class="fz-16 tt-u ls-strd c-939393 d-ib">Baseball Facts</p>
            </a>
        </div>
        <nav class="site-nav">
            <ul class="fz-17 tt-u c-939393">
                <li>
                    <a href="/about" class="site-nav-link animated fadeInUp">About
                        <span class="hide-sm"> + Contact</span>
                    </a>
                </li>
                <li>
                    <a href="/archive" class="site-nav-link animated fadeInUp">Archive</a>
                </li>
            </ul>
        </nav>
    </div>
</header>