/**
 * Global Box-sizing
**/

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/**
 * Global Elements
**/

html, body { color: white; }
html, body { font-family: $primary-font; /* Available in 400 or 500 font-weight only */ }

a {
  color: white;
  text-decoration: none;
  &:hover { text-decoration: none; }
}

dd {
  font-size: 20px;
  margin-bottom: 1rem;
  text-indent: 1rem;
}

dl {
  line-height: $lh-strd;
}

sup {
  font-size: 80%;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}


/**
 * Global Layout Styles
**/

.wrapper {
  margin: 0 auto;
  padding: 0 $gr1;
  width: 100%;
  @media #{$md-to-lg-screen} { padding: 0 $gr2; }    
  @media #{$lg-screen} {
    width: 1170px;
    padding: 0;
  }
}


/**
 * Block: .main
 *   The primary dark background styling found
 *     between the site header and secondary content,
 *     visually divided by background color differences.
**/

.main {
  @include selection(white, $green);
  background-color: #242424;
}

  /**
   * Element: .main-nav
   *   A simple navigator below the main content that goes
   *     within similar pages. E.g. previous/next fact, page.
  **/

  .main-nav {
    @include selection(black, $yellow);
    background-color: $brown;
  }

    .main-nav-btn {
      @include standard-transition();
      font-size: 18px;
      letter-spacing: $ls-strd;
      padding-bottom: $gr2;
      padding-top: $gr2;
      position: relative;
      text-transform: uppercase;
      &:hover:before { background-color: white; }
      &:before {
        background-color: transparent;
        content: '';
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 53px;
        transition: 0.3s all;
        width: 100%;
      }
    }

  .main-wrapper {
    padding: $gr3 $gr1;
    @media #{$md-to-lg-screen} { padding: $gr4 $gr2; }
    @media #{$lg-screen} { padding: $gr5 0; }
  }

/**
 * Block: .logo-number
**/

.logo-number {
  @include standard-transition();
  border: 4px solid $light-green;
  border-radius: 100%;
  font-weight: 500;
  height: 60px;
  letter-spacing: -0.5px;
  margin-right: $gr1;
  padding-top: 13px;
  text-align: center;
  width: 60px;
  &:before {
    content: '162';
    display: block;
    font-size: 27px;
  }
  @media #{$md-screen} {
    border-width: 5px;
    height: 78px;
    padding-top: 17px;
    width: 78px;
    &:before { font-size: 34px; }
  }

}

  .logo-number-footer {
    border-color: white;
    border-width: 3px;
    height: 40px;
    padding-top: 7.5px;
    text-indent: -3px;
    width: 40px;
    &:before {
      font-size: 19px;
      letter-spacing: -1.5px;
    }
    @media #{$mq-footer} {
      border-width: 5px;
      height: 60px;
      padding-top: 11px;
      width: 60px;
      &:before { font-size: 28px; }
    }
  }

.ar {
  @include standard-transition();
  background-color: #333;
  border: 1px solid #666;
  border-radius: 2px;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 500;
  padding: $gr1 $gr2;      
  width: 100%;
  &:hover { background-color: #666; color: white; }
  &:active { background-color: #222; }
  span { float: left; }
}

#questions {
  @include standard-transition();
}

.is-hiding { opacity: 0; }

.button-display li {
  float: left;
  margin: 0 auto; 
  padding: $gr1;
  text-align: center;
  width: 100%;

  @media #{$lg-screen} {
    width: 50%;
    &:nth-of-type(5) { width: 100%; 
      .ar { width: 50%; } 
    }
  }
}

.question-name {
  font-size: 48px;
  font-weight: 500;
  line-height: $lh-sm;
  margin: $gr2 0 $gr3;
  @media (min-width: 800px) { 
    font-size: 57px;
    line-height: $lh-strd;
  }
}

.question {
  display: none;
}

.is-visible {
  display: block;
}

.is-opaque {
  opacity: 1;
}

.is-hidden {
  display: none;
}

.question-divider {
  background-color: #444;
  height: 3px;
  margin: $gr3 0 $gr2;
  width: 100%;
}

.question-hint {
  height: 25px;
  margin-bottom: $gr3;
  margin-top: $gr1 * -1;
  position: relative;
}

  .question-hint-button {
    @include standard-transition();
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    &:hover { color: #fff; }
    &.is-invisible {
      cursor: default;
      opacity: 0;
      top: -20px;
    }
  }

  .question-hint-text {
    @include standard-transition();
    font-size: 20px;
    opacity: 0;
    position: absolute;
    top: 20px;
    &.is-visible { 
      opacity: 1;
      top: 0;
    }
  }

.question-nav {
  @include standard-transition();
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-family: $primary-font;
  letter-spacing: $ls-strd;
  line-height: 1;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  &:hover:before { background-color: $light-green; }
  &:before {
    @include standard-transition();
    background-color: transparent;
    content: '';
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 30px;
    transition: 0.3s all;
    width: 100%;
  }
  &.is-disabled {
    cursor: default;
    opacity: 0.15;
    &:before { background-color: transparent; }
  }
}

.question-number {
  color: #606060;
  font-size: 24px;
  font-weight: 500;
}

.question-score {
  color: #606060;
  font-size: 18px;
  padding-top: 6px;
}

.highlight-wrong, .highlight-wrong:hover, .highlight-wrong:active {
  background-color: #d91200;
  border-color: #d91200;
  color: white;
}

.highlight-right, .highlight-right:hover, .highlight-right:active {
  background-color: $green;
  border-color: $green;
  color: white;
}


.right-answer {
  opacity: 1;
  @include standard-transition();
}

.answer-result {
  @include standard-transition();
  font-size: 20px;
  opacity: 0;
  position: absolute;
  top: 20px;
  &.is-visible { top: 0; opacity: 1; }
}

.quick-answer-display {
  margin-top: $gr3;
  min-height: 20px;
  position: relative;
}

/**
 * Block: .results
 *   The results section of trivia.
**/

.results {
  @include standard-transition();
  opacity: 0;
  &.is-opaque { opacity: 1; }
}

  .results-score {
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    margin-bottom: $gr3;
  }