/**
 * Global Box-sizing
**/

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/**
 * Global Elements
**/

html, body {
  color: white;
  font-family: 'Roboto', sans-serif; /* Available in 400 or 500 font-weight only */
}

a {
  color: white;
  text-decoration: none;
  &:hover { text-decoration: none; }
}

dd {
  font-size: 20px;
  margin-bottom: 1rem;
  text-indent: 1rem;
}

dl {
  line-height: $lh-strd;
}

sup {
  font-size: 80%;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}


/**
 * Global Layout Styles
**/

.wrapper {
  margin: 0 auto;
  padding: 0 $gr1;
  width: 100%;
  @media #{$md-to-lg-screen} { padding: 0 $gr2; }    
  @media #{$lg-screen} {
    width: 1170px;
    padding: 0;
  }
}


/**
 * Block: .main
 *   The primary dark background styling found
 *     between the site header and secondary content,
 *     visually divided by background color differences.
**/

.main {
  @include selection(white, $green);
  background-color: #242424;
}

  /**
   * Element: .main-nav
   *   A simple navigator below the main content that goes
   *     within similar pages. E.g. previous/next fact, page.
  **/

  .main-nav {
    @include selection(black, $yellow);
    background-color: $brown;
  }

    .main-nav-btn {
      @include standard-transition();
      font-size: 18px;
      letter-spacing: $ls-strd;
      padding-bottom: $gr2;
      padding-top: $gr2;
      position: relative;
      text-transform: uppercase;
      &:hover:before { background-color: white; }
      &:before {
        background-color: transparent;
        content: '';
        height: 3px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 53px;
        transition: 0.3s all;
        width: 100%;
      }
    }


/**
 * Block: .logo-number
**/

.logo-number {
  @include standard-transition();
  border: 5px solid $light-green;
  border-radius: 100%;
  font-weight: 500;
  height: 78px;
  letter-spacing: -0.5px;
  margin-right: $gr1;
  padding-top: 17px;
  text-align: center;
  width: 78px;
  &:before {
    content: '162';
    display: block;
    font-size: 34px;
  }
}

  .logo-number-footer {
    border-color: white;
    height: 60px;
    padding-top: 11px;
    text-indent: -3px;
    width: 60px;
    &:before {
      font-size: 28px;
      letter-spacing: -1.5px;
    }
  }