/**
 * Block: .header
 *
 * 1. Hover styling specific to linkable header logo.
**/

.header {
  @include selection(black, $yellow);
  background-color: #212121;
}

  .header-logo-wrapper {
    display: inline-block;
    height: 80px;
    width: 80px;
    h1, p { display: none; } 
    @media #{$mq-header} { 
      width: 260px;
      h1, p { display: block; } 
    }
    a:hover .logo-number { /* 1 */
      background-color: white;
      border: 5px solid #999;
      color: #242424; 
    }
  }

  .header-wrapper { padding-right: 0; }


/**
 * Block: .site-nav
**/

.site-nav {
  float: right;
  line-height: 110px;
  li { display: inline-block; }
  @media #{$md-screen} { line-height: 130px; }
  @media #{$lg-screen} { margin-right: (-$gr2); }
}

  .site-nav-link {
    @include standard-transition();
    display: block;
    padding: 0 $gr1;
    position: relative;
    @media #{$lg-screen} { padding: 0 $gr2; }
    &:before {
      @include standard-transition();
      background-color: transparent;
      content: '';
      height: 3px;
      left: 0;
      margin: 0 auto;
      right: 0;
      top: 82px;
      position: absolute;
      width: 55%;
    }
    &:hover {
      color: white;
      &:before { background-color: $light-green; }
    }
  }