/**
 * Clearfix
**/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/*
	^float
	^.fl
*/

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.fl-n {
	float: none;
}

/* 
  ^font-weight
  ^.fw
*/

.fw-med {
  font-weight: 500;
}

/*
  ^display
  ^.d-ib
*/

.d-ib {
	display: inline-block;
}

/* 
  ^font-size
  ^.fz
*/

.fz-72 {
	font-size: 72px;
}

.fz-57 {
	font-size: 57px;
}

.fz-36 {
	font-size: 36px;
}

.fz-30 {
	font-size: 30px;
}

.fz-22 {
	font-size: 22px;
}

.fz-18 {
	font-size: 18px;
}

.fz-17 {
	font-size: 17px;
}

.fz-16 {
	font-size: 16px;
}

.fz-15 {
	font-size: 15px;
}

/*
  ^text-transform
  ^.tt
*/

.tt-u {
	text-transform: uppercase;
}

/*
  ^line-height
  ^.lh
*/

.lh-sm {
	line-height: 1.2;
}

.lh-strd {
	line-height: 1.5;
}

/*
  ^letter-spacing
  ^.ls
*/

.ls-sm {
	letter-spacing: 0.025em;
}

.ls-strd {
	letter-spacing: 0.04em;
}

/* 
  ^padding
  ^.pd
*/

.pd-gr2 {
	padding: $gr2
}

.pd-v-gr1 {
	padding-top:    $gr1;
	padding-bottom: $gr1;
}

.pd-v-gr2 {
	padding-top:    $gr2;
	padding-bottom: $gr2;
}

.pd-v-gr3 {
	padding-top:    $gr3;
	padding-bottom: $gr3;
}

.pd-v-gr4 {
	padding-top:    $gr4;
	padding-bottom: $gr4;
}

.pd-v-gr5 {
	padding-top:    $gr5;
	padding-bottom: $gr5;
}

.pd-h-gr1 {
	padding-left:  $gr1;
	padding-right: $gr1;
}

.pd-h-gr2 {
	padding-left:  $gr2;
	padding-right: $gr2;
}

.pd-l-gr1 {
	padding-left: $gr1;
}

.pd-l-gr2 {
	padding-left: $gr2;
}

.pd-r-gr1 {
	padding-right: $gr1;
}

.pd-b-gr2 {
	padding-bottom: $gr2;
}

.pd-b-gr3 {
	padding-bottom: $gr3;
}

.pd-b-gr4 {
	padding-bottom: $gr4;
}

.pd-r-gr2 {
	padding-right: $gr2;
}

.pd-t-gr1 {
	padding-top: $gr1;
}

/*
  ^margin
  ^.m
*/

.m-r-gr1 {
	margin-right: $gr1;
}

.m-r-gr2 {
	margin-right: $gr2;
}

/*
  ^sprite
  .s
*/

.sprite {
	background-image:  url('/img/sprite.png');
	background-size:   500px 400px;
	background-repeat: no-repeat;

	&__logo {
		background-position: -100px 0;
		width:  78px;
		height: 78px;
		position: absolute;
		&--hover {
			position: relative;
			z-index: 1;
			width: 78px;
			height: 78px;
		}
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			border-radius: 100%;
			background-color: $green;
			width: 78px;
			height: 78px;
			transition: 0.3s all;
			transform: scale(0);
		}
	}

	&__logo-footer {
		background-position: 0 -100px;
		width:  65px;
		height: 65px;
	}

	&__prev {
		width: 8px;
		height: 14px;
		margin-top: 2px;
		margin-right: 10px;
	}

	&__next {
		background-position: -50px 0;
		width:               8px;
		height:              14px;
		margin-top:          2px;
		margin-left:         10px;
	}

	&__github {
		margin-top:          10px;
		margin-left:         5px;
		background-position: -293px 0;
		width:               39px;
		height:              39px;
		&:hover {
			background-position: -293px -50px; 
		}
	}

	&__rss {
		margin-top:          10px;
		margin-left:         5px;
		background-position: -293px -100px;
		width:               39px;
		height:              39px;
		&:hover {
			background-position: -293px -150px; 
		}
	}

}

/*
  ^color
  .c
*/

.c-939393 {
	color: #939393;
	a {
		color: #939393;
	}
}

.c-606060 {
	color: #606060;
}

.c-7fd58c {
	color: #7fd58c;
}

/**
 * Hide Elements via media queries 
**/

@media #{$sm-screen} {
	.hide-sm { display: none; }
}

@media #{$md-to-lg-screen} {
  .hide-md-to-lg {
    display: none;
  }
}