/**
 * Layout: .archive
 *
 * List of fact-based posts.
 *
 * 1. Intentionally blank.
 * 2. Bottom border applied to last element since there is
 *    no 'top' border from another sibling.
 * 3. Hover effect for last-sibling bottom-border.
 * 4. Hover effect to get the 'bottom' border to light
 *    up when over an individual post. The 'bottom' border 
 *    is really the 'top' border of the next sibling.  
**/

.archive { } /* 1 */

  .archive-heading {
    position: relative;
    &:hover .archive-id { color: $light-green; }
    &:last-child { 
      .archive-post { border-bottom: 2px solid #666; } /* 2 */
      &:hover .archive-post { border-color: $light-green; } /* 3 */
    }
  }

  .archive-heading:hover + 
  .archive-heading .archive-post { border-top-color: $light-green; } /* 4 */

  .archive-id {
    @include standard-transition();
    bottom: 0;
    color: #777;
    height: 15px;
    left: $gr1;
    margin: auto;
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  .archive-post {
    @include standard-transition();
    border-top: 2px solid #666;
    color: #bbb;
    display: inline-block;
    font-size: 18px;
    line-height: $lh-sm;
    padding: $gr2 $gr1 $gr2 $gr1;
    width: 100%;
    @media #{$md-to-lg-screen} { 
      font-size: 24px; 
      padding-left: $gr5;
    }
    @media #{$lg-screen} {
      font-size: 30px;
      padding: $gr3 $gr1 $gr3 $gr5;
    }
    &:hover { 
      border-color: $light-green;
      color: white;
    }
  }
  
  .archive-sc {
    color: #939393;
    font-size: 18px;
    line-height: $lh-strd;
    padding-bottom: $gr2;
    padding-top: 8px;
    @media #{$md-to-lg-screen} { padding-bottom: $gr3; }
    @media #{$lg-screen} { padding-bottom: $gr4; }
  }