{% include getFacts.liquid %}

{% include head.html %}
	<body>
		{% include header.html %}	
		<section class="fact">
			<div class="wrapper pd-v-gr5">
				<div class="fact fact__header">
					<h3 class="fw-med">#332</h3>
					<h4 class="fz-15 tt-u">January 20th, 2015</h4>
					<h4 class="fz-15 tt-u">Share This</h4>
					<span>
						<a href="#">FB</a>
					</span>
					<span>
						<a href="#">Twitter</a>
					</span>
				</div>
				<div class="fact fact__mc">
					<h1 class="fw-med fz-72 pd-v-gr3" >The top three single season records for intentional walks all belong to Barry Bonds.</h1>
					<h2 class="fz-30">120 in 2004, 68 in 2002, and 61 in 2003. The 4th most in a single season belongs to Willie McCovey, with 45 in 1969.</h2>
				</div>
			</div>
			<div class="fact fact__nav">
				<div class="wrapper pd-v-gr1">
					<a href="#" class="fz-18 tt-u">Previous Fact</a>
					<a href="#" class="fz-18 tt-u">Next Fact</a>
				</div>
			</div>
		</section>
		{% include footer.html %}
		{% include foot.html %}
	</body>
</html>