{% include getFacts.liquid %}

{% include head.html %}
	<body>
		{% include header.html %}	

		<h1>Hellow world!</h1>

		<section>
			<div class="fact header">
				<h3>#332</h3>
				<h4>January 20th, 2015</h4>
				<h4>Share This</h4>
				<span><a href="#">FB</a></span>
				<span><a href="#">Twitter</a></span>
			</div>
			<div class="fact main-content">
				<h1>The top three single season records for intentional walks all belong to Barry Bonds.</h1>
				<h2>120 in 2004, 68 in 2002, and 61 in 2003. The 4th most in a single season belongs to Willie McCovey, with 45 in 1969.</h2>
			</div>
		</section>

		<section>
			<a href="#">Previous Fact</a>
			<a href="#">Next Fact</a>
		</section>

		<footer>
		    <div class="logo">
		        <a href="/"></a>
		    </div>

		    <p>
				© 2013 — 2015
				<br>
				Game162 is not affiliated with Major League Baseball.
		    </p>

		    <span>Follow Game162</span>
		    <ul>
		    	<li>
		    		<a href="#">Twitter</a>
		    	</li>
		    	<li>
		    		<a href="#">Facebook</a>
		    	</li>
		    	<li>
		    		<a href="#">Github</a>
		    	</li>
		    </ul>

		</footer>

		{% include footer.html %}
	</body>
</html>